* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: unset;
  font-weight: unset;
}

img, svg {
  max-width: 100%;
  height: auto;
}

// Header
.header {
  .header__container {
    width: 90%;
    max-width: 500px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    margin: 0 auto;
    padding: 10px 0;
    padding-bottom: 50px;
  }

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    svg, img {
      width: 30px;
      height: 30px;

      border-radius: 50%;
    }
  }

  .header__search {
    flex: 1;

    input {
      width: 100%;
      height: 40px;

      padding: 0 10px;

      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}

.movies {
  .movies__container {
    width: 90%;
    max-width: 500px;

    margin: 0 auto;
  }

  .movies__results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    grid-gap: 10px;
  }

  .movie {
    height: 350px;

    .movie__container {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      position: relative;

      border-radius: 5px;

      overflow: hidden;

      img {
        min-width: 100%;
        min-height: 100%;

        position: absolute;
        z-index: 5;

        object-fit: cover;
      }

      h2 {
        position: relative;
        z-index: 10;

        padding: 10px;

        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
      }
    }
  }
}